<% if @user.profile == current_user.profile %>



  <% if @user.tutor == false %>
    <%= form_for current_user do |f| %>
     <div class="col-md-6 col-md-offset-6">
       <div><%= f.hidden_field :tutor, value: true %></div>
       <p><%= f.submit "Become Tutor", class: "btn btn-primary" %> Level up now</p>
     </div>
    <% end %>
  <% else %>
    <%= form_for current_user do |f| %>
    <div class="col-md-6 col-md-offset-6">
       <div><%= f.hidden_field :tutor, value: false %></div>
       <p><%= f.submit "Not a tutor", class: "btn btn-danger" %> Teaching isn't for everyone..</p>
       <% end %>
    </div>

  <% end %>

<% end %>
