<% if @user.profile == current_user.profile %>
  <hr>

  <% if @user.tutor == false %>
    <h3>Are you open to being a tutor and earning some extra $?</h3>
  <% else %>
    <h3>Remember the more you post, the more attention you'll get!</h3>
  <% end %>

  <% if @user.tutor == false %>
    <%= form_for current_user do |f| %>
     <div><%= f.hidden_field :tutor, value: true %></div>
     <%= f.submit "Become Tutor" %>
    <% end %>
  <% else %>
    <%= form_for current_user do |f| %>
     <div><%= f.hidden_field :tutor, value: false %></div>
     <%= f.submit "Not a tutor" %>
    <% end %>

  <% end %>

<% end %>
