<% if @user.tutor == false %>
  <%= form_for current_user do |f| %>
   <div><%= f.hidden_field :tutor, value: true %></div>
   <%= f.submit "Become Tutor" %>
  <% end %>
<% else %>
  <%= form_for current_user do |f| %>
   <div><%= f.hidden_field :tutor, value: false %></div>
   <%= f.submit "Not a tutor" %>
  <% end %>
<% end %>
