<div class="profile-wrapper jumbotron">
  <div class="profile-details row">
    <div class="profile-img col-md-4">
      <%= image_tag @user.image.url, class: "col-md-12" %>
    </div>


    <div class="col-md-6 col-md-offset-2">
      <h2 class="profile-name page-header" style="margin-top: 0">
        Profile of <%= @user.username %>
      </h2>
        <% unless @user == current_user %>
          <span class="profile-follow_button">
            <%= follow_button(@user) %>
          </span>
        <% end %>
        <% unless current_user.tutor == false || @user.profile == current_user.profile %>
          <span class="profile-tutoring-button">
            <%= tutor_button(@user) %>
          </span>
        <% end %>
      </p>
      <div class="profile-about-wrapper">
        <% if @profile.bio %>
          <h4 class="profile-about">About Me: </h4>
          <p class="profile-bio"><%= @profile.bio %></p>
          <button type="button" data-toggle="modal" data-target="#editprofile-modal" class="home-hero-btn btn btn-info col-md-2" style="margin-bottom: 1vh">Edit</button>
        <% elsif @user.profile == current_user.profile %>
          <p class="profile-bio-fillout">Fill out your bio!</p>
          <%= render 'profiles/form' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'modals/editprofile', profile: @profile %>
  <%# render partial: 'modals/editlocation', locals: {profile: @user.profile} %>
  <%= render 'profile_tutor_section' %>


  <div class="row">
    <!-- My Chat dropdown -->
    <div class="col-md-4">
      <div class="dropdown">
        <% if current_user.profile == @user.profile %>
          <button class="col-md-12 btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">My Chats
        <% else %>
          <button class="col-md-12 btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Chats created by <%= @user.username %>
        <% end %>
          <span class="caret"></span>
        </button>
          <ul class="chat-dropdown dropdown-menu col-md-12" aria-labelledby="dropdownMenu1">
            <% if @profile.chats.count > 1 %>
              <%= render @profile.chats %>
            <% else %>
              <p style="text-align: center">No chats yet!</p>
            <% end %>
          </ul>
      </div>

      <% if current_user.profile == @user.profile %>
        <!-- my student chats -->
        <div class="dropdown">
          <button class="col-md-12 btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Student Chats
            <span class="caret"></span>
          </button>
            <ul class="student-chat-dropdown dropdown-menu col-md-12" aria-labelledby="dropdownMenu2">
              <%= render 'tutor/tutees' %>
            </ul>
        </div>

        <!-- my tutor chats -->
        <div class="dropdown">
          <button class="col-md-12 btn btn-info dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Tutor Chats
            <span class="caret"></span>
          </button>
            <ul class="tutor-chat-dropdown dropdown-menu col-md-12" aria-labelledby="dropdownMenu3">
              <%= render 'tutor/tutors' %>
            </ul>
        </div>
      <% end %>

    </div>

    <div class="col-md-6 col-md-offset-2">
      <% if @profile.locations.count > 0 %>
        <%= render partial: 'locations/location', locals: {locationable: @profile} %>
        <% if @profile == current_user.profile %>
          <button type="button" data-toggle="modal" data-target="#editlocation-modal" class="home-hero-btn btn btn-info col-md-2" style="margin-bottom: 1vh; margin-top: 1vh">Edit</button>
        <% end %>
      <% elsif @user.profile == current_user.profile %>
        <%= render partial: 'locations/form', locals: {locationable: @profile} %>
      <% end %>
    </div>
  </div>

    <!-- new chat -->
    <div class="row">
      <div class="col-md-5">
        <% if current_user == @profile.user %>
          <h4>Start a new Open Chat!</h4>
          <%= render partial: 'chats/form', locals: {profile: @profile} %>
        <% end %>
      </div>

      <!-- new blog post   -->
      <div class="col-md-5 col-md-offset-1">
        <% if current_user == @profile.user %>
          <h4>Add a new post!</h4>
          <%= render partial: 'posts/form', locals: {profile: @profile} %>
        <% end %>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <% if @profile.posts.count > 0 %>
      <div class="blog-well well col-md-12">
        <h3 class="col-md-offset-1">   Recent Blog Post's by <%= @profile.user.username %></h3>
        <%= render @profile.posts %>
      </div>
    <% end %>
  </div>
</div>
