<h3>Profile of <%= @user.username %></h3>

<% unless @user == current_user %>
  <%= follow_button(@user) %>
<% end %>

<% if @profile.bio %>
  <hr>
  <h4>About Me: </h4>
  <p><%= @profile.bio %></p>
<% else %>
  <p>Fill out your bio!</p>
  <%= render 'profiles/form' %>
<% end %>

<%= render 'profile_tutor_section' %>


<hr>
<% if @profile.locations.count > 0 %>
  <%= render partial: 'locations/location', locals: {locationable: @profile} %>
<% else %>
  <%= render partial: 'locations/form', locals: {locationable: @profile} %>
<% end %>


<% if current_user == @profile.user %>
  <h3>Add a new post!</h3>
  <%= render partial: 'posts/form', locals: {profile: @profile} %>
<% end %>

<%= render @profile.posts if @profile.posts %>


<hr>
<% if current_user == @profile.user %>
  <h4>Start a new Chat!</h4>
  <%= render partial: 'chats/form', locals: {profile: @profile} %>
<% end %>

<%= render @profile.chats %>
