<h3>Profile of <%= @user.username %></h3>

<% if @profile.bio %>
  <hr>
  <h4>About Me: </h4>
  <p><%= @profile.bio %></p>
<% else %>
  <p>Fill out your bio!</p>
  <%= render 'profiles/form' %>
<% end %>

<hr>
<% if current_user == @profile.user %>
  <h4>Start a new Chat!</h4>
  <%= render partial: 'chats/form', locals: {profile: @profile} %>
<% end %>

<%= render @profile.chats %>
