<%= form_for User.new do |f| %>
  <div>
    <%= f.text_field :username, placeholder: "Username..", required: true %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: "Email..", required: true %>
  </div>
  <div>
    <%= f.password_field :password, require: true, placeholder: "Password.." %>
  </div>
  <div>
    <%= f.file_field :image, require: true %>
  </div>
  <div>
    <%= f.submit "SignUp already" %>
  </div>
<% end %>
