<div class="home-wrapper">
  <div class="home-hero row jumbotron" style="background: lavenderblush">
    <div class="homer-hero-block" style="text-align: center">
      <%= image_tag "dog mascot.png", :alt => "", class: "col-md-3" %>
      <div class="not-dog col-md-8 col-md-offset-1" style: "border-left: 1vw solid black">
        <h1 class="home-header" style="font-size: 4vw; text-align: left; margin-top: 0">Welcome To <span style="text-decoration: line-through">Coffee</span></br>cash-only Chat</h1>
        <% if signed_in? %>
          <h3 class="home-blurb" style="margin-top: 3vh; text-align: left">Oh heyyyy <%= current_user.username %>...did you know:</h3>
          <blockquote class="home-blurb" style="font-style: italic; margin-top: 5vh; text-align: left"><%= @daily_quote %></blockquote>
        <% else %>
          <p class="home-blurb", style="text-align: left">Get your learn on!</p>
          <button type="button" data-toggle="modal" data-target="#signup-modal" class="home-hero-btn btn btn-info btn-lg col-md-3", style="margin-left: 0vw">Get Learned</button>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: 'modals/signup' %>
  <%= render partial: 'modals/signin' %>


  <div class="row">

    <div class="home-blog-posts col-md-7 well" style="background: ghostwhite">
      <h2 class="page-header" style="text-align: center; margin-top: 8vh">Most Recent Blog Posts</h2>
      <%= render @activity_posts %>
    </div>

    <% if signed_in? %>
      <div class="home-follow-btns col-md-4 col-md-offset-1">
        <!-- following links -->
        <div class="btn-group btn-group-1">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Following (<%= current_user.followed_users.count %>) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% unless current_user.followed_users.count < 1 %>
              <% current_user.followed_users.each do |user| %>
                <li><%= link_to user.username, profile_path(user.profile) %></li>
              <% end %>
            <% else %>
              <li>youch..no followers</li>
            <% end %>
          </ul>
        </div>

        <!-- followers links -->
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Followers (<%= current_user.followers.count %>) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% unless current_user.followers.count < 1 %>
              <% current_user.followers.each do |user| %>
                <li><%= link_to user.username, profile_path(user.profile) %></li>
              <% end %>
            <% else %>
              <li>Follow already..</li>
            <% end %>
          </ul>
        </div>  <!-- end of follow button section -->

        <div class="home-activity-section">
          <h2 class="page-header" style="text-align: center">Recent Activity</h3>
          <%= render @users %>
        </div>
      </div>
      <% else %>
        <div class="home-activity-section col-md-4 col-md-offset-1" style="margin-top: 5vh">
          <h2 class="page-header" style="text-align: center">Recent Activity</h3>
          <%= render @users %>
        </div>
      <% end %>
  </div>  <!-- end of row for activity feed and follow buttons -->
</div>
