<div class="home-wrapper">
  <div class="home-hero row jumbotron">
    <div class="homer-hero-block" style="text-align: center">
      <h1 class="home-header col-md-10 col-md-offset-1">Welcome To Coffee Chat</h1>
      <p class="home-blurb col-md-6 col-md-offset-3">Get your learn on!</p>
      <button type="button" data-toggle="modal" data-target="#signup-modal" class="home-hero-btn btn btn-info btn-lg col-md-2 col-md-offset-5">Get Learned</button>
    </div>
  </div>

  <%= render partial: 'modals/signup' %>
  <%= render partial: 'modals/signin' %>


  <div class="row">

    <div class="home-blog-posts col-md-7 well">
      <h2 class="page-header" style="text-align: center; margin-top: 8vh">Most Recent Blog Posts</h2>
      <%= render @activity_posts %>
    </div>

    <% if signed_in? %>
      <div class="home-follow-btns col-md-3 col-md-offset-1">
        <!-- following links -->
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Following (<%= current_user.followed_users.count %>) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% unless current_user.followed_users.count < 1 %>
              <% current_user.followed_users.each do |user| %>
                <li><%= link_to user.username, profile_path(user.profile) %></li>
              <% end %>
            <% else %>
              <li>youch..no followers</li>
            <% end %>
          </ul>
        </div>

        <!-- followers links -->
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Followers (<%= current_user.followers.count %>) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% unless current_user.followers.count < 1 %>
              <% current_user.followers.each do |user| %>
                <li><%= link_to user.username, profile_path(user.profile) %></li>
              <% end %>
            <% else %>
              <li>Follow already..</li>
            <% end %>
          </ul>
        </div>  <!-- end of follow button section -->

        <div class="home-activity-section">
          <h2 class="page-header" style="text-align: center">Recent Activity</h3>
          <%= render @users %>
        </div>
      </div>
      <% else %>
        <div class="home-activity-section col-md-3 col-md-offset-1" style="margin-top: 5vh">
          <h2 class="page-header" style="text-align: center">Recent Activity</h3>
          <%= render @users %>
        </div>
      <% end %>
  </div>  <!-- end of row for activity feed and follow buttons -->
</div>
