<div class="home-wrapper">
  <div class="home-hero row jumbotron">
    <div class="homer-hero-block" style="text-align: center">
      <h1 class="home-header col-md-10 col-md-offset-1">Welcome To Coffee Chat</h1>
      <p class="home-blurb col-md-6 col-md-offset-3">Get your learn on!</p>
      <%= link_to "Get Learned", new_user_path, class: "home-hero-btn btn btn-info btn-lg col-md-2 col-md-offset-5" %>
    </div>
  </div>

  <% if signed_in? %>
    <div class="home-follow_section">
      <div class="my_followed_users">
        <p>Following (<%= current_user.followed_users.count %>)</p>
        <div class="followed-list">
          <% current_user.followed_users.each do |user| %>
            <p><%= link_to user.username, profile_path(user.profile) %></p>
          <% end %>
        </div>
      </div>

      <div class="my_followers">
        <p>Followers (<%= current_user.followers.count %>)</p>
        <div class="followers-list">
          <% current_user.followers.each do |user| %>
            <p><%= link_to user.username, profile_path(user.profile) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <h3>Recently Joined Users</h3>

  <%= render @users %>
</div>
