<div class="row">
  <div class="all-subjects col-md-7 well">
    <div class="page-header">
      <%= form_tag chat_list_path, method: 'GET', remote: true do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", class: "btn btn-warning" %>
      <% end %>
    </div>

    <div id="items-grid">
      <%= render partial: 'chats/chat_list', locals: {chats: @chats} %>
    </div>
  </div>

  <div class="activity-block col-md-4 col-md-offset-1">
    <h2 class="page-header">Recent Activity</h2>
    <%= render @users %>
  </div>
</div>
