<%= form_for @location do |f| %>
  <p><%= f.text_field :address, placeholder: "Enter address.." %></p>
  <p><%= f.text_field :suburb, placeholder: "Enter suburb.." %></p>
  <p><%= f.text_field :state, placeholder: "Enter state.." %></p>
  <p><%= f.text_field :country, placeholder: "Enter country.." %></p>
  <p><%= f.text_field :postcode, placeholder: "Enter postcode.." %></p>
  <%= f.submit %>
<% end %>
