<!DOCTYPE html>
<html>
  <head>
    <title>CfaCoffeeChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
        <p><%= notice %></p>
      <% end %>

      <%= render 'layouts/nav' %>

      <%= yield %>
    </div>
  </body>
</html>
